<a href="https://colab.research.google.com/github/BynForUs/DAA_Kelompok8/blob/main/Latihan_Pt_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np

nilai_siswa = np.array([85,55,40,90])

print(nilai_siswa[3])

90

In [13]:
print("Hello world!")
print("Nama saya Bintang Septa Maheswara")
print("Nim saya 2024071013")

Hello world!
Nama saya Bintang Septa Maheswara
Nim saya 2024071013

In [14]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [12]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [11]:
x = 4
x = "Sally"
print(x)

Sally

In [8]:
def getFirst(myList):
    return myList[0]
getFirst([1,2,3])

1

In [15]:
getFirst([1,2,3])

1

In [16]:
getFirst([1,2,3,4,5,6,7,8,9])

1

In [17]:
def getSecond(myList):
    return myList[1]
print (getSecond([1,2,3]))
print (getSecond([10,20,30,40]))

2
20

In [30]:
def getLast(myList):
    return myList[-1]

getLast([1, 2, 3, 4, 5])

print(getLast([1, 2, 3, 4, 5]))

5

In [32]:
def getSum(myList):
    sum = 0
    for item in myList:
        sum = sum+item
    return sum
getSum([1,2,3,4])

10

In [1]:
def getKali(myList):
    kali = 1
    for item in myList:
        kali = kali*item
    return kali
getKali([1,2,3,4])

24

In [7]:
def getBagi(myList):
    bagi = 3
    for item in myList:
        bagi = bagi/item
    return bagi
getBagi([1,2,3,4])

0.125

In [13]:
def getSum(myList):
    sum = 0
    for row in myList:
        for item in row:
            sum += item
    return sum
getSum([[1,2,5],[3,4,7]])

22

In [14]:
def getBagi(myList):
    bagi = 1
    for row in myList:
        for item in row:
            bagi /= item
    return bagi
getBagi([[1,2,5],[3,4,7]])

0.0011904761904761904

In [15]:
def getKurang(myList):
    kurang = 0
    for row in myList:
        for item in row:
            kurang -= item
    return kurang
getKurang([[1,2,5],[3,4,7]])

-22